body, .wrapper {
    background-color: #f4f3ef;
}
.sidebar {
    width: 260px; /* 사이드바의 너비 */
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1000; /* 다른 요소 위에 표시 */
}
.main-panel {
    margin-left: 1620px; /* 사이드바의 너비와 일치하게 설정 */
    position: relative;
    min-height: 100vh;
    width: calc(100% - 260px); /* 전체 너비에서 사이드바 너비만큼 뺌 */
}
.input-group.no-border {
    margin: 0 auto; /* 가운데 정렬 */
    max-width: 500px; /* 최대 너비 설정 */
    width: 100%; /* 부모 요소에 맞춰 전체 너비 사용 */
}