<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="../../../static/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../static/assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet">
    <style>
        body {
            text-align: center;
            padding: 50px;
            background-color: #f4f3ef;
        }
        .error-container {
            max-width: 600px;
            margin: auto;
        }
        h1 {
            font-size: 100px;
        }
        p {
            font-size: 20px;
        }
    </style>
</head>

<body>
<div class="error-container">
    <h1>Oops!</h1>
    <p>Something went wrong. The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
    <a href="/login" class="btn btn-primary">Go Back Home</a>
</div>
</body>

</html>
